blinker~=1.9
certifi~=2025.4
charset-normalizer~=3.4
click~=8.2
Flask~=2.3
flask-cors~=4.0
idna~=3.10
importlib-metadata~=6.11
itsdangerous~=2.2
Jinja2~=3.1
MarkupSafe~=2.1
python-dotenv~=0.21
requests~=2.32
typing_extensions~=4.13
urllib3~=2.4
Werkzeug~=2.3
ytmusicapi~=0.25
zipp~=3.21
pytube~=15.0
python-vlc~=3.0.18122
pafy~=0.5.5
moviepy~=1.0.3
yt-dlp~=2024.4
